<div>
        <div>
            <label>
                CSV file selection: 
                <i class="fa fa-2x fa-camera"></i>
                <input type="file" id="file" name="file" 
                    (change)="handleFileInput($event.target.files)" accept=".csv"/>
            </label>
            
        </div>
        <div class="buttons-panel">
            <button [disabled]="!fileToUpload || !fileToUpload.name" (click)="uploadFileToActivity()">Uppload</button>
            <button (click)="downloadFile()">Download</button>
            <button (click)="clearFile()">Delete</button>
        </div>
</div>