.file-input {
    display: none;
  }

.buttons-panel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons-panel>*{
  margin-right: 10px;
  width: 100px;
}