<h1 id="tableLabel">Weather forecast</h1>

<p>Grid with data</p>

<p *ngIf="!financeInfos"><em>There is nothing to fill</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="financeInfos">
  <thead>
    <tr>
      <th>FirstPrice</th>
      <th>LastPrice</th>
      <th>MaxPrice</th>
      <th>MinPrice</th>
      <th>Sum</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let financeInfo of financeInfos">
      <td>{{ financeInfo.FirstPrice }}</td>
      <td>{{ financeInfo.LastPrice }}</td>
      <td>{{ financeInfo.MaxPrice }}</td>
      <td>{{ financeInfo.MinPrice }}</td>
      <td>{{ financeInfo.Sum }}</td>
      <td>{{ financeInfo.Time }}</td>
    </tr>
  </tbody>
</table>